.container {
  width: fit-content;
  color: var(--color-dark);
  text-align: center;
  letter-spacing: 0.1rem;
  background: linear-gradient(
    105deg,
    rgba(238, 108, 77, 0.15) 0%,
    rgba(238, 108, 77, 0.15) 20%,
    rgba(61, 90, 128, 0.15) 30%,
    rgba(61, 90, 128, 0.15) 100%
  );
  border-radius: var(--radius);
  padding: 0.8rem 2.4rem;
  margin: 0 auto;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  white-space: pre-line;
}

.description {
  font-size: 1rem;
  font-weight: normal;
  margin: 1rem 0 0;
}

@media (min-width: 481px) {
  .container {
    padding: 1.6rem 4rem 1.8rem;
  }

  .title {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .isSp {
    display: none;
  }
}